/* Colors
--blue-jeans: #00a6fb;
--green-blue-crayola: #0582ca;
--sapphire-blue: #006494;
--prussian-blue: #003554;
--rich-black-fogra-29: #051923;
*/

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-family: 'Fira Sans', Calibri, sans-serif;
    font-size: 100%;
}

h1, h2, h3, img, p, ul, li, a, button {
    color: white;
}

h1, h2 {  
    text-align: center;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
}

body {
    background-color: #003554;
    margin: auto;
    max-width: 60rem;
    padding: 1rem;
}

header, footer, main, aside, .card, .card img, .card h3, input, button {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.25);
    border-radius: 0.5rem;
}

header, footer, main, aside {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    border: 2px solid white;
    padding: 1rem;
}

header, main, aside {
    margin-bottom: 2rem;
}

header, footer {
    background-color: #051923;
}

main, aside {
    background-color: #006494;
}

header {
    align-items: center;
}

header a {
    padding: 1rem;
}

header a:hover,
aside a:hover {
    color: black;
    background-color: white;
}

nav ul {
    padding-left: 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.card {
    background-color: #0582ca;
    text-align: center;
    padding: 1rem;
}

.card img {
    mix-blend-mode: lighten;
    max-width: 100%;
    margin-bottom: 1rem;
}

.card h3,
footer button {
    background-color: #00a6fb;
    padding: 1rem;
}

.card h3:hover,
footer button:hover {
    background-color: #003554;
}

aside ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

aside li {
    line-height: 1.5;
}

aside a {
    padding: 0.25rem;
}

footer {
    padding: 1rem;
}

form {
    display: contents;
}

input, button {
    font-family: inherit;
    font-size: 1rem;
    padding: 1rem;
    border-style: none;
}

label {
    display: none;
}

button {
    font-weight: bold;
}

footer p {
    text-align: center;
}

@media screen and (min-width: 600px)  {
    header, main, aside {
        grid-template-columns: 1fr 1fr;
    }

    header {
        padding-left: 0;
    }

    h1, h2 {
        text-align: left;
    }

    h2 {
        grid-column: 1 / -1;
    }
}